<div class="card mt-3">
  <div class="card-header">
    <h5 class="h6 mb-0">Actual</h5>
  </div>
  <div class="card-body">
    <pre class="mb-0 fs-6"><code><%= html_escape(prettified_actual) %></code></pre>
  </div>
</div>
