<%# Diffy generates safe HTML with properly escaped content. We render it unescaped intentionally. %>
<div class="card-group">
  <div class="card">
    <div class="card-header">
      <h5 class="h6 mb-0">Actual</h5>
    </div>
    <div class="card-body">
      <div class="font-monospace">
        <%= diff_html[:left] %>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h5 class="h6 mb-0">Expected</h5>
    </div>
    <div class="card-body">
      <div class="font-monospace">
        <%= diff_html[:right] %>
      </div>
    </div>
  </div>
</div>
