<div class="card border-warning">
  <div class="card-header">
    <h5 class="h6 mb-0" style="color: var(--bs-orange)">Test failure message</h5>
  </div>
  <div class="card-body">
    <pre class="failure-message mb-0 fs-6"><code><%= html_escape(@failure_message_text) %></code></pre>
  </div>
</div>
