<div class="rspec-html-messages">
  <% if status_content = status_html(**@options) %>
    <div>
      <%= status_content %>
    </div>
  <% end %>

  <% if output_content = output_html(**@options) %>
    <div class="mt-3">
      <%= output_content %>
    </div>
  <% end %>

  <% if failure_content = failure_message_html(**@options) %>
    <div class="mt-3">
      <%= failure_content %>
    </div>
  <% end %>

  <% if exception_content = exception_details_html(**@options) %>
    <div class="mt-3">
      <%= exception_content %>
    </div>
  <% end %>
</div>
