<div class="rspec-html-messages">
  <% if options[:show_diff_section] != false && (show_diff? || has_actual?) %>
    <% if show_diff? %>
      <%= render_partial('diff') %>
    <% else %>
      <%= render_partial('actual') %>
    <% end %>
  <% end %>

  <% if options[:show_failure_message] != false && failure_message.present? %>
    <%= render_partial('failure_message') %>
  <% end %>

  <% if options[:show_exception_details] != false && error_before_assertion? %>
    <%= render_partial('exception_details') %>
  <% end %>
</div>
